// https://stackoverflow.com/questions/62883931/how-to-merge-several-classes-in-one

// $

@import "../../node_modules/quasar/src/css/flex-addon.sass";
@import "../../node_modules/quasar/src/css/variables.sass";
@import '../../node_modules/quasar/src/css/core/animations.sass';
@import '../../node_modules/quasar/src/css/core/colors.sass';
@import '../../node_modules/quasar/src/css/core/elevation.sass';
@import '../../node_modules/quasar/src/css/core/flex.sass';
@import '../../node_modules/quasar/src/css/core/helpers.sass';
@import '../../node_modules/quasar/src/css/core/mouse.sass';
@import '../../node_modules/quasar/src/css/core/orientation.sass';
@import '../../node_modules/quasar/src/css/core/positioning.sass';
@import '../../node_modules/quasar/src/css/core/size.sass';
@import '../../node_modules/quasar/src/css/core/touch.sass';
@import '../../node_modules/quasar/src/css/core/transitions.sass';
@import '../../node_modules/quasar/src/css/core/typography.sass';
@import '../../node_modules/quasar/src/css/core/visibility.sass';
@import '../../node_modules/quasar/src/css/core/dark.sass';

// responsive 2 colunas
.n.r-col-1\/2
{
 @extend .col-md-6;
 @extend .col-xs-12;
}
// responsive 3 colunas
.r-3-cols
{
 @extend .col-md-4;
 @extend .col-sm-6;
 @extend .col-xs-12;
}
// responsive 4 colunas
.r-4-cols
{
 @extend .col-md-3;
 @extend .col-sm-6;
 @extend .col-xs-12;
}


@mixin basic-grid {
  display:grid;
  grid-template-columns:
    repeat(auto-fill,
      minmax(clamp(clamp(clamp(
            100%/(var(--n) + 1) + 0.1%,
              (var(--w1) - 100%)*1000,
            100%/(var(--m) + 1) + 0.1%),
              (var(--w2) - 100%)*1000,
            100%/(var(--p) + 1) + 0.1%),
              (var(--w3) - 100%)*1000,
            100%), 1fr));
}

.n-container-grid {
  /* first breakpoint*/
  --w1:1200px;
  --n:4;
  /* second breakpoint*/
  --w2:800px;
  --m:2;
  /* third breakpoint*/
  --w3:400px;
  --p:1;
  @include basic-grid;
}

.r-fs-h1 { font-size : calc(48px + 0.390625vw);}
.r-fs-h2 { font-size : calc(36px + 0.390625vw);}
.r-fs-h3 { font-size : calc(28px + 0.390625vw);}
.r-fs-h4 { font-size : calc(24px + 0.390625vw);}
.r-fs-h5 { font-size : calc(20px + 0.390625vw);}
.r-fs-h6 { font-size : calc(18px + 0.390625vw);}

.r-fs-body .r-fs-text { font-size : calc(16px + 0.390625vw);}

.between-center {
  @extend .justify-between;
  @extend .self-center;
}

// Class type row occpuies the full width of the screen
.row-height {
  @extend .row;
  @extend .window-height;
}

.row-center {
  @extend .row;
  @extend .self-center;
}

$iconsize : (24,32,48,56,64,76,96,128,256);

@each $size in $iconsize {
  .q-size-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
  }
}

.required .q-field__label:before {
  content: '* ';
  color: #f00;
}

.q-custon-input.q-field--float .q-field__label {
  transform: translateY(-120%) translateX(-5px) scale(0.75);
  background: #fff;
  right: inherit;
  padding: 0 5px;
  z-index: 10;
}

.q-custon-input.q-field--dense.q-field--float .q-field__label {
    transform: translateY(-85%) translateX(-5px) scale(0.75);
}

.q-custon-input.q-field--labeled .q-field__native,
.q-custon-input.q-field--labeled .q-field__prefix,
.q-custon-input.q-field--labeled .q-field__suffix {
  padding-top: 8px;
}

.q-field–outlined .q-field__control {
  border: 15px solid $primary !important
  }

.p-1x2{
  padding: 20px 40px;
}

@each $size-str,$size in $sizes {
  @media screen and (min-width: $size) {
    .p-1x2{
      padding: 40px 80px;
    }
  }
}
